.home {
  width: 100%;
}

.landing {
  &::-webkit-scrollbar {
    display: none;
  }
}

.btn-h {
  margin: 10px;
}

.avatar {
  height: 110px;
  border-radius: 50%;
  border: 2px solid #303030;
  margin-top:5px;
}

.projectP {
  height: 90px;
}

.icons-holder {
  display: grid;
  grid-template-rows: auto auto;
  left: 50px;
  place-items: center;
  margin: 15px;
  margin-top: 50px;
  @media (max-width: 800px) {
    margin: 10px;
  }
}

.skill-set {
  margin-top: 3px;
}

.Ttext {
  border-right: 3px solid;
  animation: blink 0.5s step-end infinite alternate;
}

.iconss {
  height: 50px;
  margin: 1px;
}

.cont {
  margin-top: 30px;
  text-align: left;
}

.box {
  border: 2px solid #303030;
  background-color: #fffffff10;
  border-radius: 10px;
  margin: 10px;
}

.accent {
  color: #f5f587;
}

.email {
  margin-left:10px;
  font-size: 0.85em;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.hamburger {
  height:20px;
  margin-top:6px
}

.hamcont {
  border-radius: 8px;
  margin-top: 10px;
  border: 1px solid transparent;
  padding: 0.1em .6em;
  background-color: #ffffff10;
  transition: border-color 0.25s;
}

.changed {
  @media (max-width: 870px) {
    display: none;
  }
}

.theme {
  @media (max-width: 870px) {
    margin-right: -20px; 
  }
}

#menu.show {
  display: inline;
  animation: slide-in 0.8s forwards;
  pointer-events: all;
}

#menu.hide {
  animation: slide-out 0.8s forwards;
}

.menu-item {
  font-size: 20px;
}